name: Manage infrastructure

on:
    workflow_dispatch:
        inputs:
            action:
                type: choice
                required: true
                options:
                    - apply-plan
                    - apply
                    - destroy-plan
                    - destroy
                default: apply-plan
            environment:
                type: environment
                required: false
                default: test

jobs:
    infra-config:
        name: Get config
        runs-on: ubuntu-24.04
        environment: ${{inputs.environment}}
        outputs:
          vpc_cidr: ${{ vars.VPC_CIDR }}
        steps:
          - name: Determine values
            run: echo ""
      
    manage-infra:
        name: Manage infra
        needs: [ infra-config ]
        uses: ./.github/workflows/reusable-manage-infra.yml
        permissions:
            id-token: write
        secrets:
            inherit
        with:
          action: ${{ inputs.action }}
          environment: ${{ inputs.environment }}
          vpc_cidr: ${{ needs.infra-config.outputs.vpc_cidr }}
