name: Reusable manage infrastructure

on:
    workflow_call:
        inputs:
            action:
                type: string
                required: true
            environment:
                type: string
                required: true
            vpc_cidr:
                type: string
                required: true
            repo_name:
                type: string
                required: false
                default: ${{ github.repository }}
            repo_ref:
                type: string
                required: false
                default: ${{ github.event.ref }}

jobs:
    manage-infra:
        name: Manage infra
        runs-on: ubuntu-24.04
        permissions:
            id-token: write
        steps:
            - name: Show inputs
              shell: bash
              run: |
                echo "action=${{inputs.action}}"
                echo "environment=${{inputs.environment}}"
                echo "repo_name=${{inputs.repo_name}}"
                echo "repo_ref=${{inputs.repo_ref}}"
                echo "vpc_cidr=${{inputs.vpc_cidr}}"

            - name: Get the artefact version values
              id: infra_version
              uses: keeonline/gh-actions/actions/artifact-version@v0.0.8
              with:
                repo_name: ${{inputs.repo_name}}
                repo_ref: ${{inputs.repo_ref}}

            - name: Terraform action
              uses: keeonline/gh-actions/actions/terraform-cmd@v0.0.8
              env:
                TF_VAR_infra_environment: ${{inputs.environment}}
                TF_VAR_infra_version: ${{steps.infra_version.outputs.value}}
                TF_VAR_infra_repo: ${{inputs.repo_name}}
                TF_VAR_vpc_cidr: ${{inputs.vpc_cidr}}
              with:
                aws_account_id: ${{secrets.AWS_ACCOUNT_ID}}
                aws_region: ${{secrets.AWS_REGION}}
                action: ${{inputs.action}}
                environment: ${{inputs.environment}}
                repo_name: ${{ inputs.repo_name }}
                