name: Reusable manage infrastructure

on:
    workflow_call:
        inputs:
            action:
                type: string
                required: true
            environment:
                type: string
                required: true
            vpc_cidr:
                type: string
                required: true
            repo_name:
                type: string
                required: false
                default: ${{ github.repository }}
            repo_ref:
                type: string
                required: false
                default: ${{ github.event.ref }}
            checkout_repo:
                type: boolean
                required: false
                default: false

jobs:
    manage-infra:
        name: Manage infra
        runs-on: ubuntu-24.04
        permissions:
            id-token: write
        steps:
            - name: Show inputs
              shell: bash
              run: |
                echo "action=${{inputs.action}}"
                echo "checkout_repo=${{inputs.checkout_repo}}"
                echo "environment=${{inputs.environment}}"
                echo "repo_name=${{inputs.repo_name}}"
                echo "repo_ref=${{inputs.repo_ref}}"
                echo "vpc_cidr=${{inputs.vpc_cidr}}"

            - name: Get the artefact version values
              id: versions
              uses: keeonline/gh-actions/actions/artifact-version@feature-tfcmd

            - name: Set the infra version
              id: infra_version
              shell: bash
              run: |
                if [ "${{github.ref_type}}" == "branch" ]
                then
                  echo "value=${{steps.versions.outputs.branch}}" >> $GITHUB_OUTPUT
                else
                  echo "value=${{steps.versions.outputs.release}}" >> $GITHUB_OUTPUT
                fi

            - name: Terraform action
              uses: keeonline/gh-actions/actions/terraform-cmd@feature-tfcmd
              env:
                TF_VAR_infra_environment: ${{inputs.environment}}
                TF_VAR_infra_version: ${{steps.infra_version.outputs.value}}
                TF_VAR_infra_repo: ${{github.event.repository.name}}
                TF_VAR_vpc_cidr: ${{inputs.vpc_cidr}}
              with:
                aws_account_id: ${{secrets.AWS_ACCOUNT_ID}}
                aws_region: ${{secrets.AWS_REGION}}
                action: ${{inputs.action}}
                environment: ${{inputs.environment}}
                repo_name: ${{ inputs.repo_name }}
                repo_ref: ${{ inputs.repo_ref }}
                checkout_repo: ${{ inputs.checkout_repo }}
                